<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app need photo library access to select dog images for breed classification.</string>
	<key>NSCameraUsageDescription</key>
	<string>This app needs access to camera to take photo of dog for breed classification.</string>
</dict>
</plist>
